// --------------------------------------------------------------------------------
// BASE - VARIABLES 
// --------------------------------------------------------------------------------

$body-width: 								1024px; //1920 by 1080, 1280/720

$color-white-default:						#fff;
$color-white-darker: 						#f4f4f4;

$color-gray-default: 						#333333;
$color-gray-lighter1: 						#bcbcbc;
$color-gray-lighter2:						#e6e6e6;

$color-blue-default:						#3f5465;
$color-blue-darker:							#243140;
$color-blue-lighter: 						#64849f;

$color-red-default:							#c62e2e;

$font-family-default: 						'Roboto', sans-serif;
$font-weight-thin:							100;
$font-weight-light:							300;
$font-weight-normal:						400;
$font-weight-medium:						500;
$font-weight-bold:							700;
$font-weight-ultra-bold:					900;





$competitor1: 								#eb588b;
$competitor2: 								#f29100;
$competitor3: 								#a5c428;
$competitor4: 								#3dc0e9;
$competitor5: 								#a3449b;
$competitor6: 								#f5b1d0;
$competitor7: 								#e02638;
$competitor8: 								#312d71;
$competitor9: 								#81ccc7;
$competitor10: 								#229a41;
$competitor11: 								#ee797f;
$competitor12: 								#f7ef00;
