// --------------------------------------------------------------------------------
// MODULES - COMPETITOR
// --------------------------------------------------------------------------------
.m-competitor 								{ @include transition(bottom 3s ease-in-out, opacity 3s ease-in-out);
	.avatar 								{ @include avatar(96px, 96px, 0 auto, 100%, 100%, 0, 4px solid $color-blue-lighter, $color-blue-lighter, -5px, -5px); }
	.name 									{ font-size:1.5em; font-weight:$font-weight-medium; text-align:center; }
	.stats 									{ @include cf(); width:50%; margin:0 auto; opacity:1; @include transition(opacity 3s ease-in-out); }
	.stats > div 							{ float:left; }
}

.m-competitor-absent 						{ opacity:.2; }
