// --------------------------------------------------------------------------------
// MODULES - SWIMLANE PERSONAL BEST
// --------------------------------------------------------------------------------

.m-swimlane-personal-best					{ width:100%; padding-right:40px; opacity:0; display:block; position:absolute; bottom:63%; left:0; z-index:99; color:green; text-align:right; font-size:2em; font-weight:$font-weight-ultra-bold; }
.m-swimlane-personal-best-show				{ opacity:1; }
